*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1{ 
    font-size: 2rem;
    text-align: center;
    background-color: royalblue;
    color: white;
}

h2 {
    font-size: larger;
    font-weight: bold;
    padding-bottom: 1rem;
}

h6 {
    font-size: medium;
    padding: 4px;
}


.grid-container {
    display:grid;
    grid-template-columns: 25% 75%;
    padding: 2rem;
}

.grid-container-two {
    display:grid;
    grid-template-rows: 60% 5% 40%; 
    gap: 2rem;
}

.current-weather-items {
    margin:1rem;
    border-style: solid;
    }

.container-three {
    display:flex;
    justify-content: space-around;
    color: white;
}

#day-one, #day-two, #day-three, #day-four, #day-five {
    background-color: rgb(60, 60, 90);
    padding: 1.5rem;
}
